<html>
<head>
<title>Anmol Nagpal</title>
<style>
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: yellow;
  color: black;
}
ul {
  list-style-position: outside;
}
.nav li {
  display: inline-block;
  font-size: 10px;

  
}
</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="background-color:Ivory;">
<header style="background-color: WhiteSmoke">
		
	<h1  style="background-color: #00ff00; text-align:center; font-size:120px;" >Anmol Nagpal </h1>

<section><ul class="nav">

<li> 
  <h3><A HREF="index.html"> HOME PAGE </A></h3></li>
<li><h3 ><A HREF="EDUCATION.html"> EDUCATION </A></h3></li>
<li><h3 ><A HREF="TECHNICAL.html">TECHNICAL SKILLS </A></h3></li>
<li><h3 ><A HREF="INTERNSHIPS.html">INTERNSHIPS / TRAININGS </A></h3></li>
<li><h3 ><A HREF="PROJECTS.html">PROJECTS</A> </h3></li>
<li><h3 ><A HREF="ACADEMIC.html"><pre>ACADEMIC 
ACHIEVEMENTS</pre></A></h3></li>
<li><h3 ><A HREF="POSITIONS.html"><pre>POSITIONS OF
 RESPONSIBILITY</pre></A></h3></li>
<li><h3 ><A HREF="CO-CURRICURAL.html"><pre>CO-CURRICURAL
 ACHIEVEMENTS</pre></A></h3></li>
<li><h3><A HREF="PERSONAL.html"> PERSONAL DETAILS </A></h3></li>
<li><h3><a href="https://www.linkedin.com/in/anmolnagpal28/" target="_blank" ;><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0/1590003577120?e=2159024400&v=beta&t=CtsDFVp0TAdwyg73A8F82MohzKpAQy-pUGA13atPG6A" width="20" height="15">
My LinkedIn Profile </a></h3></li>
</ul>
</section>
</header>


<div style="background-color: #00ff00 ">
<h1 id="A5" style="font-size:50px" >ACADEMIC ACHIEVEMENTS</h1>
<ul>
 <li style="font-size:20px";>Received certificate of participation in ECE technical event <b><i><u><mark>“Techno Brain”</b></i></u></mark> held during APRATIM <u>2019</u> (CCET Annual Fest)</li><br>
 <li style="font-size:20px";>Winner of <u>Derek’s Faster Smarter Better Challenge 2014</u> by <b><i><u><mark>Vodafone</b></i></u></mark> conducted in school</li><br>
 <li style="font-size:20px";>Received certificate of merit in <b><i><u><mark>AITSE (All India Talent Search Examination)</b></i></u></mark> and received a scholarship</li><br></ul>
<br></div>


</body>

</html>