<html>
<head>
<title>Anmol Nagpal</title>
<style>
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: yellow;
  color: black;
}
ul {
  list-style-position: outside;
}
.nav li {
  display: inline-block;
  font-size: 10px;

  
}
</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="background-color:Ivory;">
<header style="background-color: WhiteSmoke">
<h1  style="background-color: #00ff00; text-align:center; font-size:120px;" >Anmol Nagpal </h1>
<section><ul class="nav">

<li> 
	<h3><A HREF="index.html"> MAIN PAGE </A></h3></li>
<li><h3 ><A HREF="EDUCATION.html"> EDUCATION </A></h3></li>
<li><h3 ><A HREF="TECHNICAL.html">TECHNICAL SKILLS </A></h3></li>
<li><h3 ><A HREF="INTERNSHIPS.html">INTERNSHIPS/ TRAININGS </A></h3></li>
<li><h3 ><A HREF="PROJECTS.html">PROJECTS</A> </h3></li>
<li><h3 ><A HREF="ACADEMIC.html"><pre>ACADEMIC 
ACHIEVEMENTS</pre></A></h3></li>
<li><h3 ><A HREF="POSITIONS.html"><pre>POSITIONS OF
 RESPONSIBILITY</pre></A></h3></li>
<li><h3 ><A HREF="CO-CURRICURAL.html"><pre>CO-CURRICURAL
 ACHIEVEMENTS</pre></A></h3></li>
<li><h3><A HREF="PERSONAL.html"> PERSONAL DETAILS</A></h3></li>
<li><h3><a href="https://www.linkedin.com/in/anmolnagpal28/" target="_blank" ;><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0/1590003577120?e=2159024400&v=beta&t=CtsDFVp0TAdwyg73A8F82MohzKpAQy-pUGA13atPG6A" width="20" height="15">
My LinkedIn Profile </a></h3></li>
</ul>
</section>
</header>


<div style="background-color: SeaShell ">
<h1 id="A7" style="font-size:50px" >CO-CURRICURAL ACHIEVEMENTS</h1>
<ul>
<li style="font-size:20px";>Received certificate of achievement for successful completion of <b><i><u><mark>“The Fundamentals of Digital Marketing”</b></i></u></mark> 
  certification exam on <u>12/05/2020</u> by <b><i><u><mark>Google Digital Unlocked</b></i></u></mark></li>
 <li style="font-size:20px";>Completed a course on Introduction To <b><i><u><mark>Data Analysis Using Excel</b></i></u></mark> and <b><i><u><mark>SQL for Data Science</b></i></u></mark> From <b><i><u><mark>Coursera</b></i></u></mark></li>
 <li style="font-size:20px";>Started learning <b><i><u><mark>French</b></i></u></mark> Language course from <b><i><u><mark>Internshala</b></i></u></mark> during Nationwide Lockdown Orders</li>
<li style="font-size:20px";>Winner of Ideathon Event organized by <b><i><u><mark>EVRY (IT Company)</b></i></u></mark> in <u>2019</u> regarding scope of innovation in City Hospitals</li>
 <li style="font-size:20px";>Attended Workshop on <b><i><u><mark>IOT</b></i></u></mark> by <b><i><u><mark>DUCAT India</b></i></u></mark> in <u>2019</u></li>
 <li style="font-size:20px";>Participated in <b><i><u><mark>Indian Engineering Olympiad (2018-19), National Engineering Challenge (2019-20)</b></i></u></mark></li><br>
</ul>
 <br></div>


 </body>

</html>