<html>
<head>
<title>Anmol Nagpal</title>
<style>
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: yellow;
  color: black;
}
ul {
  list-style-position: outside;
}
.nav li {
  display: inline-block;
  font-size: 10px;

  
}
</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="background-color:Ivory;">
<header style="background-color: WhiteSmoke">
		
	<h1  style="background-color: #00ff00; text-align:center; font-size:120px;" >Anmol Nagpal </h1>
  <section>
<ul class="nav">
<li> 
	<h3><A HREF="index.html"> MAIN PAGE </A></h3></li>
<li><h3 ><A HREF="EDUCATION.html"> EDUCATION </A></h3></li>
<li><h3 ><A HREF="TECHNICAL.html">TECHNICAL SKILLS </A></h3></li>
<li><h3 ><A HREF="#">INTERNSHIPS/ TRAININGS </A></h3></li>
<li><h3 ><A HREF="PROJECTS.html">PROJECTS</A> </h3></li>
<li><h3 ><A HREF="ACADEMIC.html"><pre>ACADEMIC 
ACHIEVEMENTS</pre></A></h3></li>
<li><h3 ><A HREF="POSITIONS.html"><pre>POSITIONS OF
 RESPONSIBILITY</pre></A></h3></li>
<li><h3 ><A HREF="CO-CURRICURAL.html"><pre>CO-CURRICURAL
 ACHIEVEMENTS</pre></A></h3></li>
<li><h3><A HREF="PERSONAL.html"> PERSONAL DETAILS</A></h3></li>
<li><h3><a href="https://www.linkedin.com/in/anmolnagpal28/" target="_blank" ;><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0/1590003577120?e=2159024400&v=beta&t=CtsDFVp0TAdwyg73A8F82MohzKpAQy-pUGA13atPG6A" width="20" height="15">
My LinkedIn Profile </a></h3></li>
</ul>
</section>
</header>


<div style="background-color: #00ff00 ">
<h1  style="font-size:50px" >INTERNSHIPS/ TRAININGS</h1>
<ol style="font-size:20px";><b>Fundamentals of Virtual Reality Summer Training | CDAC MOHALI</b><br>    <u>June 01, 2020 – June 26, 2020</u> <br>    Development of Games using Unity 3D based on <mark><b><i><u>Virtual Reality</b></i></u></mark></ol>
<ol style="font-size:20px";><b>Internet of Things Summer Training | CDAC MOHALI</b><br>    <u>May 27, 2019 – July 5, 2019</u> <br>    Practical application of SimpleLink <mark><b><i><u>MSP432P401R</b></i></u></mark> LaunchPad, Wi-Fi IoT kit <mark><b><i><u>CC3200</b></i></u></mark> LaunchPad</ol>
<br></div>

</body>

</html>