<html>
<head>
<title>Anmol Nagpal</title>
<style>
a:link, a:visited {
  background-color: white;
  color: black;
 border: 2px solid green;
  padding: 10px ;
  /*border: 2px solid blue;
  padding: 10px 20px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: yellow;
  color: black;
}
/*.nav  {
  display: inline-block;
  font-size: 10px;

  
}
*/</style>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="background-color:Ivory;">
<header style="background-color: WhiteSmoke">
		
	<h1  style="background-color: #00ff00; text-align:center; font-size:120px;" >Anmol Nagpal </h1>

<section><ul class="nav">
<A HREF="index.html"> MAIN PAGE </A>
<A HREF="EDUCATION.html"> EDUCATION </A>
<A HREF="TECHNICAL.html">TECHNICAL SKILLS </A>
<A HREF="INTERNSHIPS.html">INTERNSHIPS/ TRAININGS </A>
<A HREF="PROJECTS.html">PROJECTS</A> 
<A HREF="ACADEMIC.html"><pre>ACADEMIC 
ACHIEVEMENTS</pre></A>
<A HREF="POSITIONS.html"><pre>POSITIONS OF
 RESPONSIBILITY</pre></A>
<A HREF="CO-CURRICURAL.html"><pre>CO-CURRICURAL
 ACHIEVEMENTS</pre></A>
 <A HREF="PERSONAL.html"> PERSONAL DETAILS</A>
<a href="https://www.linkedin.com/in/anmolnagpal28/" target="_blank" ;><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0/1590003577120?e=2159024400&v=beta&t=CtsDFVp0TAdwyg73A8F82MohzKpAQy-pUGA13atPG6A" width="20" height="15">
My LinkedIn Profile </a>
<!--<li> 
  <h3><A HREF="index.html"> MAIN PAGE </A></h3></li>
<li><h3 ><A HREF="EDUCATION.html"> EDUCATION </A></h3></li>
<li><h3 ><A HREF="TECHNICAL.html">TECHNICAL SKILLS </A></h3></li>
<li><h3 ><A HREF="INTERNSHIPS.html">INTERNSHIPS/ TRAININGS </A></h3></li>
<li><h3 ><A HREF="PROJECTS.html">PROJECTS</A> </h3></li>
<li><h3 ><A HREF="ACADEMIC.html"><pre>ACADEMIC 
ACHIEVEMENTS</pre></A></h3></li>
<li><h3 ><A HREF="POSITIONS.html"><pre>POSITIONS OF
 RESPONSIBILITY</pre></A></h3></li>
<li><h3 ><A HREF="CO-CURRICURAL.html"><pre>CO-CURRICURAL
 ACHIEVEMENTS</pre></A></h3></li>
 <li><h3><A HREF="PERSONAL.html"> PERSONAL DETAILS</A></h3></li>
<li><h3><a href="https://www.linkedin.com/in/anmolnagpal28/" target="_blank" ;><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGyOWvr4W0Pow/company-logo_200_200/0/1590003577120?e=2159024400&v=beta&t=CtsDFVp0TAdwyg73A8F82MohzKpAQy-pUGA13atPG6A" width="20" height="15">
My LinkedIn Profile </a></h3></li>-->
</ul>
</section>
</header>


<div style="background-color: #00ff00 ">
<h1 id="A4" style="font-size:50px" >PROJECTS</h1>
<ol style="font-size:20px";><b>Virtual Reality Maze Runner Android Application | CDAC MOHALI</b><br>   <u>June 2020</u>  <br>    Created a Game of Maze runner with basic functionality such as movement of player, walls, menu options using 
    <mark><b><i><u>Unity3D</b></i></u></mark> software based on <mark><b><i><u>Virtual Reality.</b></i></u></mark></ol><br>

<ol style="font-size:20px";><b>Augmented Reality Virtual Labs Android Application | CDAC MOHALI</b><br>   <u>June 2020</u> <br>    Created an <b><i><u><mark>Augmented Textbook</b></i></u></mark> like application in which we scan electronics components and we get 3D models which 
    can be translated, scaled or rotated in android application</ol><br>

<ol style="font-size:20px";><b>Smart LED Display | CCET PU</b><br>   <u>February 2020 – April 2020</u> <br>    A digital display <mark><b><i><u>LED</b></i></u></mark> using <mark><b><i><u>Arduino UNO</b></i></u></mark> showing time, temperature, day and date </ol>
<br><ol style="font-size:20px";><b>Electronics and Communication Engineering Department Display Board | CCET PU</b><br>    <u>October 2019 – December 2019</u> <br>    A working prototype based on <mark><b><i><u>Arduino UNO</b></i></u></mark> and <mark><b><i><u>P10 Display LED</b></i></u></mark></ol>
<br><ol style="font-size:20px";><b>Gate Security System | CDAC MOHALI</b><br>    <u>May 27, 2019 – July 5, 2019</u> <br>    <b><i><u><mark>Internet of Things (IOT)</b></i></u></mark> based door lock security system which sends alert to our mobile when somebody presses 
    the doorbell (when the owner is at home or away from home)</ol><br>
<ol style="font-size:20px";><b>Bluetooth Control Door Lock | CCET PU</b><br>    <u>June 2018</u> <br>    First hands on experience of Arduino UNO, Bluetooth Module for <b><i><u><mark>Innovative Product Designing (IPD)</b></i></u></mark> project which 
    controls doorlock using mobile Bluetooth</ol>
   <br></div>


</body>

</html>